<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="model" default="$(find ur_description)/urdf/ur5e.xacro"/>
    <param name="urdf_model" command="$(find xacro)/xacro --inorder $(arg model)" />

    <arg name="camera_topic_" default="/camera/color/image_raw"/>
    <arg name="js_state_topic_" default="/joint_states"/>

    <param name="camera_topic" value="$(arg camera_topic_)" type="string"/>
    <param name="js_state_topic" value="$(arg camera_topic_)" type="string"/>

    <node pkg="arm_camera_calibration" type="robot_node" name="robot_node" output="screen" />

</launch>
